openapi: 3.1.0

info:
  title: SalesOS Platform API
  version: 3.0.0
  description: |
    # SalesOS - Complete Event-Driven Sales Automation Platform

    Comprehensive API documentation for the SalesOS platform, covering all 110+ endpoints across 8 main domains.

    ## What's New in v3.0.0

    - **92+ new endpoints** added for complete platform coverage
    - Full **Copilot IA** documentation (AI suggestions, TTS, STT, feedback)
    - Complete **RBAC** (Role-Based Access Control) and multi-tenant management
    - **RAG Management** (Documents, chunks, embeddings)
    - Comprehensive **Workflows & Automation** endpoints
    - **Webhooks & EventService** integration
    - Full **User & Auth** management
    - Complete **Leads & Opportunities** lifecycle management

    ## Core Concepts

    ### Multi-Tenancy
    The platform supports multiple organizations (tenants) with isolated data and custom configurations.
    Each user can belong to multiple tenants with different roles.

    ### Authentication Flow
    1. Authenticate with Auth0 (OAuth 2.0 Password Grant)
    2. Exchange Auth0 token for Supabase JWT token
    3. Use Supabase token for all API requests
    4. Switch between tenants as needed

    ### EventService
    Centralized event emission system that drives workflow automation and gamification.
    All significant actions emit events that can trigger automated workflows.

    ### Copilot IA
    AI-powered sales assistant that provides:
    - Context-aware suggestions using RAG (Retrieval-Augmented Generation)
    - Text-to-Speech (TTS) for voice assistance
    - Speech-to-Text (STT) for transcription
    - Feedback loop for continuous improvement

    ### Workflows & Automation
    Event-driven workflows that automate:
    - Lead assignment and routing
    - Notifications and alerts
    - Gamification point attribution
    - External system integrations

    ## Rate Limiting

    - **API Calls**: 1000 requests/minute per IP
    - **Events**: 10000 events/day per tenant
    - **Webhooks**: 100 requests/minute per endpoint
    - **Copilot Suggestions**: 100 requests/hour per user

    ## Environments

    - **Production**: https://api.play2sell.com
    - **Staging**: https://staging-api.play2sell.com
    - **Development**: http://localhost:5173

  contact:
    name: SalesOS Development Team
    email: dev@play2sell.com
    url: https://docs.salesos.com

  license:
    name: Proprietary
    url: https://play2sell.com/terms

servers:
  - url: https://api.play2sell.com
    description: Production Environment
  - url: https://staging-api.play2sell.com
    description: Staging Environment
  - url: http://localhost:5173
    description: Local Development

tags:
  - name: Authentication & Auth Flow
    description: |
      OAuth 2.0 authentication, token exchange, and tenant switching.
      Handles Auth0 to Supabase token exchange and multi-tenant context management.

  - name: Copilot IA (AI Features)
    description: |
      AI-powered sales assistance with RAG, TTS, STT, and feedback mechanisms.
      Provides intelligent suggestions based on sales context and historical data.

  - name: Leads & Opportunities Management
    description: |
      Complete lead lifecycle management including creation, updates, stages, and interactions.
      Track customer journey from first contact to deal closure.

  - name: RAG Management (Documents & Embeddings)
    description: |
      Manage knowledge base for Copilot AI including documents, chunks, and embeddings.
      Powers the RAG (Retrieval-Augmented Generation) system.

  - name: Tenants & Roles (Multi-tenant RBAC)
    description: |
      Multi-tenant organization management with role-based access control.
      Define custom roles, capabilities, and user associations.

  - name: Users & Profiles
    description: |
      User management, authentication, identities, and gamification.
      Handle user profiles, social connections, and scoring.

  - name: Workflows & Automation
    description: |
      Event-driven workflow engine with triggers, queues, and execution tracking.
      Automate business processes and integrate with external systems.

  - name: Webhooks & EventService
    description: |
      Incoming webhooks from external systems and centralized event emission.
      Powers automation and integrations with Meta Ads, Zapier, CRMs, and more.

paths:
  # ==========================================
  # Authentication & Auth Flow
  # ==========================================
  /oauth/token:
    post:
      summary: Auth0 Login (Password Grant)
      description: |
        Authenticate user with email and password via Auth0.
        Returns an Auth0 access token that must be exchanged for a Supabase token.

        **Flow**: This is step 1 of the authentication process.
        After getting the Auth0 token, call `/functions/v1/token_exchange_edge_function`.
      operationId: auth0Login
      tags:
        - Authentication & Auth Flow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
                - audience
                - username
                - password
              properties:
                grant_type:
                  type: string
                  enum: [password]
                  default: password
                client_id:
                  type: string
                  description: Auth0 application client ID
                client_secret:
                  type: string
                  description: Auth0 application client secret
                audience:
                  type: string
                  default: https://api.play2sell.com
                username:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                scope:
                  type: string
                  default: openid profile email
            example:
              grant_type: password
              client_id: your_client_id
              client_secret: your_client_secret
              audience: https://api.play2sell.com
              username: user@example.com
              password: secure_password
              scope: openid profile email
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Auth0 JWT access token
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 86400
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /functions/v1/token_exchange_edge_function:
    post:
      summary: Token Exchange (Auth0 → Supabase)
      description: |
        Exchange Auth0 token for Supabase JWT token with tenant context.

        Returns:
        - Supabase access token for API calls
        - User ID and profile information
        - Tenant ID and organization info
        - User roles and permissions

        **Flow**: This is step 2 of the authentication process.
        Use the returned Supabase token in the Authorization header for all subsequent API calls.
      operationId: tokenExchange
      tags:
        - Authentication & Auth Flow
      security:
        - auth0Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - auth0_token
              properties:
                auth0_token:
                  type: string
                  description: Auth0 access token from login
            example:
              auth0_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Token exchange successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenExchangeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /functions/v1/switch-tenant:
    post:
      summary: Switch Active Tenant
      description: |
        Switch user's active tenant context.
        Returns a new Supabase token with updated tenant_id in the JWT claims.

        Use this when users need to switch between organizations they belong to.
      operationId: switchTenant
      tags:
        - Authentication & Auth Flow
      security:
        - auth0Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_tenant_id
              properties:
                target_tenant_id:
                  type: string
                  format: uuid
                  description: ID of the tenant to switch to
            example:
              target_tenant_id: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Tenant switched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenExchangeResponse'
        '403':
          description: User does not have access to the specified tenant
        '404':
          description: Tenant not found

  /rest/v1/salesos_user_tenants:
    get:
      summary: List User's Tenants
      description: |
        Get all tenants the authenticated user belongs to with their roles.
        Use this to display tenant selector in UI.
      operationId: listUserTenants
      tags:
        - Authentication & Auth Flow
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
      responses:
        '200':
          description: List of user's tenant associations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserTenant'

  # ==========================================
  # Copilot IA (AI Features)
  # ==========================================
  /functions/v1/copilot-suggest:
    post:
      summary: Generate AI Suggestions
      description: |
        Generate context-aware sales suggestions using RAG (Retrieval-Augmented Generation).

        **How it works**:
        1. Analyzes the lead context (stage, objections, notes, buying moment)
        2. Retrieves relevant knowledge from RAG database
        3. Generates personalized suggestions using LLM
        4. Returns suggestions with confidence scores

        **Use cases**:
        - Qualification scripts
        - Objection handling
        - Closing techniques
        - Follow-up messages
      operationId: copilotSuggest
      tags:
        - Copilot IA (AI Features)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotSuggestRequest'
            examples:
              qualification:
                summary: Qualification Stage
                value:
                  tenant_id: 123e4567-e89b-12d3-a456-426614174000
                  user_id: null
                  entity_id: null
                  lead_context:
                    stage: qualification
                    notes: Cliente interessado em apartamento 2 quartos
                    product: Apartamento MCMV
                    buying_moment: warm
              priceObjection:
                summary: Price Objection
                value:
                  tenant_id: 123e4567-e89b-12d3-a456-426614174000
                  user_id: null
                  entity_id: null
                  lead_context:
                    stage: proposal
                    objection_type: price
                    notes: Cliente achou a entrada muito alta
                    product: Apartamento 2 quartos Torre A
                    buying_moment: hot
              closing:
                summary: Closing Stage
                value:
                  tenant_id: 123e4567-e89b-12d3-a456-426614174000
                  user_id: null
                  entity_id: null
                  lead_context:
                    stage: negotiation
                    notes: Cliente visitou o decorado e gostou
                    product: Apartamento 3 quartos
                    buying_moment: hot
                    last_interaction: Visita ao decorado ontem
      responses:
        '200':
          description: Suggestions generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotSuggestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /functions/v1/copilot-tts:
    post:
      summary: Text-to-Speech (TTS)
      description: |
        Convert text to speech audio file.
        Returns audio/mpeg (MP3) format.

        **Use cases**:
        - Voice assistance for suggestions
        - Audio previews of messages
        - Accessibility features
      operationId: copilotTTS
      tags:
        - Copilot IA (AI Features)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Text to convert to speech
                  maxLength: 5000
                voice_id:
                  type: string
                  nullable: true
                  description: Optional voice identifier
            example:
              text: Olá! Entendo sua preocupação com o valor da entrada. Que tal explorarmos as opções de usar o FGTS?
              voice_id: null
      responses:
        '200':
          description: Audio generated successfully
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'

  /functions/v1/copilot-stt:
    post:
      summary: Speech-to-Text (STT)
      description: |
        Transcribe audio to text.

        **Requirements**:
        - Audio must be in base64 format
        - Supported formats: webm/opus
        - Minimum duration: 2 seconds

        **Use cases**:
        - Voice notes transcription
        - Call recording analysis
        - Voice commands
      operationId: copilotSTT
      tags:
        - Copilot IA (AI Features)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - audio_base64
              properties:
                audio_base64:
                  type: string
                  description: Base64 encoded audio (webm/opus format)
                language_code:
                  type: string
                  default: pt
                  description: Language code (pt, en, es)
            example:
              audio_base64: GkXfo59ChoEBQveBAULygQRC84EIQoKEd2VibUKHgQRChYECGFOAZwH...
              language_code: pt
      responses:
        '200':
          description: Transcription successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Transcribed text
                  confidence:
                    type: number
                    format: float
                    description: Confidence score (0-1)
                  language:
                    type: string
                  duration_seconds:
                    type: number
        '400':
          $ref: '#/components/responses/BadRequest'

  /functions/v1/copilot-feedback:
    post:
      summary: Submit Copilot Feedback
      description: |
        Submit user feedback on AI-generated suggestions.
        Used to improve suggestion quality over time.

        **Rating types**:
        - `positive`: Suggestion was helpful
        - `negative`: Suggestion was not helpful
        - `neutral`: No strong opinion
      operationId: copilotFeedback
      tags:
        - Copilot IA (AI Features)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotFeedbackRequest'
            examples:
              positive:
                summary: Positive Feedback
                value:
                  suggestion_id: 123e4567-e89b-12d3-a456-426614174000
                  tenant_id: 123e4567-e89b-12d3-a456-426614174001
                  user_id: 123e4567-e89b-12d3-a456-426614174002
                  rating: positive
                  comment: Sugestão muito útil!
              negative:
                summary: Negative Feedback
                value:
                  suggestion_id: 123e4567-e89b-12d3-a456-426614174000
                  tenant_id: 123e4567-e89b-12d3-a456-426614174001
                  user_id: 123e4567-e89b-12d3-a456-426614174002
                  rating: negative
                  reason_code: not_relevant
                  comment: Não se aplica ao contexto do cliente
      responses:
        '200':
          description: Feedback recorded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  feedback_id:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'

  /rest/v1/salesos_copilot_sessions:
    get:
      summary: List Copilot Sessions
      description: |
        Get history of Copilot AI sessions.
        Includes session metadata, screen type, and context.
      operationId: listCopilotSessions
      tags:
        - Copilot IA (AI Features)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: tenant_id
          in: query
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CopilotSession'

  /rest/v1/salesos_copilot_suggestions:
    get:
      summary: List Generated Suggestions
      description: Get history of AI-generated suggestions with metrics
      operationId: listCopilotSuggestions
      tags:
        - Copilot IA (AI Features)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: tenant_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of suggestions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CopilotSuggestion'

  /rest/v1/salesos_copilot_feedback:
    get:
      summary: List Feedback Records
      description: Get user feedback on AI suggestions
      operationId: listCopilotFeedback
      tags:
        - Copilot IA (AI Features)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of feedback records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CopilotFeedback'

  /rest/v1/salesos_copilot_cache:
    get:
      summary: List Cached Suggestions
      description: Get cached suggestions for performance optimization
      operationId: listCopilotCache
      tags:
        - Copilot IA (AI Features)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of cached suggestions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /rest/v1/salesos_copilot_static_suggestions:
    get:
      summary: List Static Fallback Suggestions
      description: Get static suggestions used when AI is unavailable
      operationId: listStaticSuggestions
      tags:
        - Copilot IA (AI Features)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: is_active
          in: query
          schema:
            type: string
          example: eq.true
      responses:
        '200':
          description: List of static suggestions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  # ==========================================
  # Leads & Opportunities Management
  # ==========================================
  /rest/v1/salesos_opportunities:
    get:
      summary: List Opportunities (Leads)
      description: |
        Get list of leads/opportunities with filtering and pagination.
        Supports filtering by stage, owner, priority, and date ranges.
      operationId: listOpportunities
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
        - name: stage_id
          in: query
          schema:
            type: string
          description: Filter by stage ID
        - name: owner_id
          in: query
          schema:
            type: string
          description: Filter by owner/assigned user
        - name: priority
          in: query
          schema:
            type: string
          description: Filter by priority (low, medium, high)
        - name: created_at
          in: query
          schema:
            type: string
          description: Filter by creation date (e.g., gte.2026-01-01)
      responses:
        '200':
          description: List of opportunities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opportunity'

    post:
      summary: Create Lead
      description: |
        Create a new lead/opportunity.
        Automatically emits `lead.created` event if EventService is enabled.
      operationId: createOpportunity
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            enum: [return=representation, return=minimal]
            default: return=representation
          description: Return created object in response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityCreate'
      responses:
        '201':
          description: Lead created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      summary: Update Lead
      description: |
        Update lead/opportunity fields.
        Use query parameters to specify which record to update.
      operationId: updateOpportunity
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityUpdate'
      responses:
        '200':
          description: Lead updated successfully
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete Lead
      description: Soft delete or hard delete a lead/opportunity
      operationId: deleteOpportunity
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      responses:
        '204':
          description: Lead deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /rest/v1/salesos_lead_interactions:
    get:
      summary: List Lead Interactions
      description: |
        Get interaction history for a lead.

        **Interaction types**:
        - call, whatsapp, email, meeting, visit, note, audio, photo, status_change
      operationId: listLeadInteractions
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: opportunity_id
          in: query
          required: true
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: List of interactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeadInteraction'

    post:
      summary: Create Interaction
      description: Log a new interaction with a lead
      operationId: createInteraction
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadInteractionCreate'
      responses:
        '201':
          description: Interaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadInteraction'

  /rest/v1/salesos_context_stages:
    get:
      summary: List Pipeline Stages
      description: |
        Get sales pipeline stages.
        Stages define the lead progression through the sales funnel.
      operationId: listStages
      tags:
        - Leads & Opportunities Management
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: context_type_id
          in: query
          schema:
            type: string
          description: Filter by context type
        - name: order
          in: query
          schema:
            type: string
          example: position.asc
      responses:
        '200':
          description: List of stages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stage'

  # ==========================================
  # RAG Management (Documents & Embeddings)
  # ==========================================
  /rest/v1/salesos_copilot_documents:
    get:
      summary: List RAG Documents
      description: |
        Get documents in the knowledge base for Copilot AI.
        Documents are split into chunks and embedded for semantic search.
      operationId: listDocuments
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: document_type
          in: query
          schema:
            type: string
          description: Filter by document type (script, faq, objection_handler, etc.)
        - name: is_active
          in: query
          schema:
            type: string
          example: eq.true
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CopilotDocument'

    post:
      summary: Create RAG Document
      description: Create a new knowledge base document
      operationId: createDocument
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotDocumentCreate'
      responses:
        '201':
          description: Document created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotDocument'

    patch:
      summary: Update RAG Document
      description: Update document metadata or content
      operationId: updateDocument
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                is_active:
                  type: boolean
                metadata:
                  type: object
      responses:
        '200':
          description: Document updated successfully

    delete:
      summary: Delete RAG Document
      description: Delete a document and all its chunks
      operationId: deleteDocument
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Document deleted successfully

  /rest/v1/salesos_copilot_chunks:
    get:
      summary: List Document Chunks
      description: |
        Get text chunks from documents.
        Chunks are embedded and used for semantic search in RAG.
      operationId: listChunks
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: document_id
          in: query
          schema:
            type: string
          description: Filter by document ID
        - name: embedding
          in: query
          schema:
            type: string
          description: Filter by embedding status (is.null, not.is.null)
      responses:
        '200':
          description: List of chunks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CopilotChunk'

    post:
      summary: Create Chunk(s)
      description: |
        Create one or multiple chunks.
        Accepts single object or array of objects.
        Embeddings are generated asynchronously.
      operationId: createChunk
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CopilotChunkCreate'
                - type: array
                  items:
                    $ref: '#/components/schemas/CopilotChunkCreate'
      responses:
        '201':
          description: Chunk(s) created successfully

    patch:
      summary: Update Chunk
      description: |
        Update chunk content or metadata.
        Set `embedding: null` to trigger re-generation.
      operationId: updateChunk
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                embedding:
                  type: string
                  nullable: true
                metadata:
                  type: object
      responses:
        '200':
          description: Chunk updated successfully

    delete:
      summary: Delete Chunk
      description: Delete a text chunk
      operationId: deleteChunk
      tags:
        - RAG Management (Documents & Embeddings)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Chunk deleted successfully

  /functions/v1/generate-embeddings:
    post:
      summary: Generate Embeddings
      description: |
        Trigger embedding generation for chunks without embeddings.
        Processes chunks in batches for performance.
      operationId: generateEmbeddings
      tags:
        - RAG Management (Documents & Embeddings)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_size:
                  type: integer
                  default: 50
      responses:
        '200':
          description: Embeddings generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed_count:
                    type: integer
                  success:
                    type: boolean

  # ==========================================
  # Tenants & Roles (Multi-tenant RBAC)
  # ==========================================
  /rest/v1/salesos_tenants:
    get:
      summary: List Tenants
      description: |
        Get all organizations/tenants.
        Admin-level endpoint for multi-tenant management.
      operationId: listTenants
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: is_active
          in: query
          schema:
            type: string
          example: eq.true
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'

    post:
      summary: Create Tenant
      description: Create a new organization/tenant
      operationId: createTenant
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreate'
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

    patch:
      summary: Update Tenant
      description: Update tenant information
      operationId: updateTenant
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                is_active:
                  type: boolean
                metadata:
                  type: object
      responses:
        '200':
          description: Tenant updated successfully

  /rest/v1/salesos_tenant_roles:
    get:
      summary: List Roles
      description: |
        Get roles for RBAC (Role-Based Access Control).
        Includes both system roles and custom tenant-specific roles.
      operationId: listRoles
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Filter by tenant ID
        - name: is_system
          in: query
          schema:
            type: string
          description: Filter system vs custom roles
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'

    post:
      summary: Create Custom Role
      description: Create a tenant-specific custom role
      operationId: createRole
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreate'
      responses:
        '201':
          description: Role created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

  /rest/v1/salesos_capabilities:
    get:
      summary: List Capabilities
      description: |
        Get all available system capabilities.
        Capabilities define granular permissions that can be assigned to roles.

        **Modules**:
        - leads, copilot, workflows, tenants, users, reports, settings
      operationId: listCapabilities
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: module
          in: query
          schema:
            type: string
          description: Filter by module
        - name: order
          in: query
          schema:
            type: string
          example: module,capability_name
      responses:
        '200':
          description: List of capabilities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Capability'

  /rest/v1/salesos_role_capabilities:
    get:
      summary: List Role Capabilities
      description: Get capabilities assigned to a specific role
      operationId: listRoleCapabilities
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: role_id
          in: query
          required: true
          schema:
            type: string
          example: eq.123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: List of role capabilities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

    post:
      summary: Add Capability to Role
      description: Assign a capability to a role
      operationId: addRoleCapability
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role_id
                - capability_id
              properties:
                role_id:
                  type: string
                  format: uuid
                capability_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Capability added to role

    delete:
      summary: Remove Capability from Role
      description: Revoke a capability from a role
      operationId: removeRoleCapability
      tags:
        - Tenants & Roles (Multi-tenant RBAC)
      security:
        - bearerAuth: []
      parameters:
        - name: role_id
          in: query
          required: true
          schema:
            type: string
        - name: capability_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Capability removed from role

  # ==========================================
  # Users & Profiles
  # ==========================================
  /rest/v1/salesos_users:
    get:
      summary: List Users
      description: Get list of users with their profiles
      operationId: listUsers
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    patch:
      summary: Update User Profile
      description: Update user information
      operationId: updateUser
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                full_name:
                  type: string
                phone:
                  type: string
                metadata:
                  type: object
      responses:
        '200':
          description: User updated successfully

  /functions/v1/reconcile-user-context:
    post:
      summary: Reconcile User Context
      description: |
        Synchronize user data between Auth0 and Supabase.
        Creates or updates user record based on Auth0 identity.
      operationId: reconcileUser
      tags:
        - Users & Profiles
      security:
        - auth0Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                document:
                  type: string
      responses:
        '200':
          description: User reconciled successfully

  /rest/v1/salesos_user_identities:
    get:
      summary: List User Identities
      description: |
        Get authentication identities for a user.
        Supports multiple identity providers (Auth0, Google, Facebook, etc.)
      operationId: listUserIdentities
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by user ID
        - name: provider_user_id
          in: query
          schema:
            type: string
          description: Filter by provider user ID
      responses:
        '200':
          description: List of identities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserIdentity'

  /rest/v1/salesos_user_social_connections:
    get:
      summary: List Social Connections
      description: Get user's connected social media accounts
      operationId: listSocialConnections
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of social connections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialConnection'

  /functions/v1/social-auth-callback:
    post:
      summary: Social Auth Callback
      description: |
        Handle OAuth callback from social platforms.
        Stores access tokens for Instagram, Facebook, LinkedIn, etc.
      operationId: socialAuthCallback
      tags:
        - Users & Profiles
      security:
        - auth0Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - platform
                - code
                - redirect_uri
              properties:
                platform:
                  type: string
                  enum: [instagram, facebook, linkedin]
                code:
                  type: string
                  description: OAuth authorization code
                redirect_uri:
                  type: string
      responses:
        '200':
          description: Social connection established

  /rest/v1/salesos_user_scores:
    get:
      summary: List User Scores
      description: Get gamification scores and rankings
      operationId: listUserScores
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of scores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserScore'

  /rest/v1/salesos_checkins:
    get:
      summary: List User Check-ins
      description: Get user check-in history for attendance tracking
      operationId: listCheckins
      tags:
        - Users & Profiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of check-ins
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  # ==========================================
  # Workflows & Automation
  # ==========================================
  /rest/v1/salesos_workflows:
    get:
      summary: List Workflows
      description: |
        Get automated workflows.
        Workflows are triggered by events and execute sequences of actions.
      operationId: listWorkflows
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
          description: Filter by status (active, inactive)
        - name: domain
          in: query
          schema:
            type: string
          description: Filter by domain (leads, go, workflows)
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'

    post:
      summary: Create Workflow
      description: Create a new automated workflow
      operationId: createWorkflow
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCreate'
      responses:
        '201':
          description: Workflow created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'

    patch:
      summary: Update Workflow
      description: Update workflow configuration or status
      operationId: updateWorkflow
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Workflow updated successfully

  /rest/v1/salesos_workflow_triggers:
    get:
      summary: List Workflow Triggers
      description: |
        Get triggers that start workflows.
        Triggers can be event-based, scheduled, or manual.
      operationId: listWorkflowTriggers
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - name: workflow_id
          in: query
          schema:
            type: string
          description: Filter by workflow ID
        - name: event_type
          in: query
          schema:
            type: string
          description: Filter by event type
      responses:
        '200':
          description: List of triggers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowTrigger'

    post:
      summary: Create Workflow Trigger
      description: Create a new trigger for a workflow
      operationId: createWorkflowTrigger
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - name: Prefer
          in: header
          schema:
            type: string
            default: return=representation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowTriggerCreate'
      responses:
        '201':
          description: Trigger created successfully

  /rest/v1/salesos_workflow_queue:
    get:
      summary: List Workflow Queue Items
      description: |
        Get workflow execution queue.
        Items are processed asynchronously by workers.
      operationId: listWorkflowQueue
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
          description: Filter by status (pending, processing, completed, failed)
      responses:
        '200':
          description: List of queue items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /functions/v1/workflow-worker:
    post:
      summary: Execute Workflow Worker
      description: |
        Process pending workflow queue items.
        Called by scheduled jobs or manually for testing.
      operationId: workflowWorker
      tags:
        - Workflows & Automation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_size:
                  type: integer
                  default: 10
      responses:
        '200':
          description: Worker executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed_count:
                    type: integer
                  success:
                    type: boolean

  /rest/v1/salesos_workflow_runs:
    get:
      summary: List Workflow Executions
      description: |
        Get workflow execution history with results.
        Includes step-by-step execution details.
      operationId: listWorkflowRuns
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: workflow_id
          in: query
          schema:
            type: string
          description: Filter by workflow ID
        - name: status
          in: query
          schema:
            type: string
          description: Filter by status (pending, running, completed, failed)
      responses:
        '200':
          description: List of workflow runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowRun'

  /rest/v1/salesos_events:
    get:
      summary: List Events
      description: |
        Get system events log.
        Events trigger workflows and drive automation.
      operationId: listEvents
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: type
          in: query
          schema:
            type: string
          description: Filter by event type
        - name: domain
          in: query
          schema:
            type: string
          description: Filter by domain
        - name: user_id
          in: query
          schema:
            type: string
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: created_at
          in: query
          schema:
            type: string
          description: Date filter (gte.2026-01-01)
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'

  /rest/v1/salesos_actions:
    get:
      summary: List Actions
      description: Get action execution log from workflows
      operationId: listActions
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of actions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /rest/v1/salesos_event_schemas:
    get:
      summary: List Event Schemas
      description: Get available event types and their schemas
      operationId: listEventSchemas
      tags:
        - Workflows & Automation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SelectParam'
      responses:
        '200':
          description: List of event schemas
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  # ==========================================
  # Webhooks & EventService
  # ==========================================
  /api/webhooks/meta-leads:
    post:
      summary: Meta Ads Webhook - New Lead
      description: |
        Receive lead capture notifications from Meta Ads (Facebook/Instagram).

        **Security**: Validates HMAC signature in X-Meta-Signature header.

        **Process**:
        1. Validate webhook signature
        2. Extract lead data from Meta payload
        3. Create lead in SalesOS
        4. Emit lead.created event
        5. Trigger workflows
      operationId: webhookMetaLeads
      tags:
        - Webhooks & EventService
      security:
        - metaSignature: []
      parameters:
        - name: X-Meta-Signature
          in: header
          required: true
          schema:
            type: string
          description: HMAC SHA256 signature for validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaWebhookPayload'
      responses:
        '200':
          description: Webhook processed successfully
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '401':
          description: Invalid signature

  /api/webhooks/zapier-leads:
    post:
      summary: Zapier Webhook - New Lead
      description: |
        Receive leads from Zapier automation.
        Supports custom field mapping and UTM tracking.
      operationId: webhookZapierLeads
      tags:
        - Webhooks & EventService
      security:
        - zapierSecret: []
      parameters:
        - name: X-Zapier-Secret
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZapierLeadPayload'
      responses:
        '200':
          description: Lead created successfully
        '401':
          description: Invalid secret

  /rest/v1/rpc/salesos_emit_event:
    post:
      summary: Emit System Event
      description: |
        Emit a system event via RPC function.

        **Event Types**:
        - **Leads**: lead.created, call.completed, email.sent, whatsapp.sent,
          visit.scheduled, visit.completed, meeting.completed, proposal.sent
        - **Gamification**: quiz.completed, mission.completed
        - **Custom**: Any custom event type

        **Security**: Executed with SECURITY DEFINER (elevated privileges).
        RLS policies control insert permissions.

        **Workflow Triggers**: Events automatically trigger matching workflows.
      operationId: emitEvent
      tags:
        - Webhooks & EventService
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmitEventRequest'
            examples:
              leadCreated:
                summary: Lead Created Event
                value:
                  p_user_id: 123e4567-e89b-12d3-a456-426614174000
                  p_tenant_id: 123e4567-e89b-12d3-a456-426614174001
                  p_type: lead.created
                  p_domain: leads
                  p_payload:
                    lead_id: lead-123
                    lead_name: João Silva
                    contact_email: joao@exemplo.com
                  p_source: application
              callCompleted:
                summary: Call Completed Event
                value:
                  p_user_id: 123e4567-e89b-12d3-a456-426614174000
                  p_tenant_id: 123e4567-e89b-12d3-a456-426614174001
                  p_type: call.completed
                  p_domain: leads
                  p_payload:
                    opportunity_id: opp-123
                    duration_seconds: 180
                    notes: Cliente demonstrou interesse
                  p_source: application
                  p_points: 10
              proposalSent:
                summary: Proposal Sent Event
                value:
                  p_user_id: 123e4567-e89b-12d3-a456-426614174000
                  p_tenant_id: 123e4567-e89b-12d3-a456-426614174001
                  p_type: proposal.sent
                  p_domain: leads
                  p_payload:
                    opportunity_id: opp-123
                    proposal_value: 250000
                    proposal_type: standard
                  p_source: application
                  p_points: 50
      responses:
        '200':
          description: Event emitted successfully
          content:
            application/json:
              schema:
                type: string
                format: uuid
                description: Event ID
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

# ==========================================
# Components
# ==========================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supabase JWT token obtained from token exchange.
        Include in Authorization header: `Bearer <token>`

    auth0Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 access token for token exchange operations

    metaSignature:
      type: apiKey
      in: header
      name: X-Meta-Signature
      description: HMAC SHA256 signature for Meta webhook validation

    zapierSecret:
      type: apiKey
      in: header
      name: X-Zapier-Secret
      description: Secret token for Zapier webhook authentication

  parameters:
    SelectParam:
      name: select
      in: query
      description: |
        Specify which columns to return (PostgREST syntax).
        Use `*` for all columns, comma-separated list for specific columns.
        Supports nested relationships: `*,salesos_users(name,email)`
      schema:
        type: string
        default: "*"
      example: id,name,email,created_at

    OrderParam:
      name: order
      in: query
      description: |
        Sort order (PostgREST syntax).
        Format: `column.direction` where direction is `asc` or `desc`.
      schema:
        type: string
        default: created_at.desc
      example: created_at.desc

    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
      example: 50

  responses:
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid request body
            code: 400
            details: Missing required field 'tenant_id'

    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid credentials
            code: 401

    Forbidden:
      description: Insufficient permissions (RLS policy violation)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: new row violates row-level security policy
            code: 42501

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found
            code: 404

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Internal server error
            code: 500

  schemas:
    # Authentication
    TokenExchangeResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Supabase JWT token
        user_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            email:
              type: string
              format: email
        tenant:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
        roles:
          type: array
          items:
            type: string

    # Copilot IA
    CopilotSuggestRequest:
      type: object
      required:
        - tenant_id
        - lead_context
      properties:
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
          nullable: true
        entity_id:
          type: string
          format: uuid
          nullable: true
        lead_context:
          type: object
          required:
            - stage
          properties:
            stage:
              type: string
              enum: [contact, qualification, proposal, negotiation, closing, won, lost]
            objection_type:
              type: string
              enum: [price, timing, competition, trust, need]
            notes:
              type: string
            product:
              type: string
            buying_moment:
              type: string
              enum: [cold, warm, hot]
            last_interaction:
              type: string

    CopilotSuggestResponse:
      type: object
      properties:
        suggestions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              content:
                type: string
              confidence:
                type: number
                format: float
              category:
                type: string
        session_id:
          type: string
          format: uuid
        latency_ms:
          type: integer

    CopilotFeedbackRequest:
      type: object
      required:
        - suggestion_id
        - tenant_id
        - user_id
        - rating
      properties:
        suggestion_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        rating:
          type: string
          enum: [positive, negative, neutral]
        reason_code:
          type: string
          enum: [not_relevant, inaccurate, inappropriate, helpful, very_helpful]
        comment:
          type: string
          maxLength: 1000

    CopilotSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        screen_type:
          type: string
        context_sanitized:
          type: object
        status:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time

    CopilotSuggestion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        content:
          type: string
        status:
          type: string
        model_used:
          type: string
        latency_ms:
          type: integer
        created_at:
          type: string
          format: date-time

    CopilotFeedback:
      type: object
      properties:
        id:
          type: string
          format: uuid
        suggestion_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        rating:
          type: string
        reason_code:
          type: string
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    # Leads & Opportunities
    Opportunity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        stage_id:
          type: string
          format: uuid
        customer_name:
          type: string
        customer_phone:
          type: string
        customer_email:
          type: string
          format: email
        origin:
          type: string
          enum: [whatsapp, instagram, facebook, phone, email, website, referral, other]
        priority:
          type: string
          enum: [low, medium, high]
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OpportunityCreate:
      type: object
      required:
        - tenant_id
        - customer_name
      properties:
        tenant_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        stage_id:
          type: string
          format: uuid
        customer_name:
          type: string
        customer_phone:
          type: string
        customer_email:
          type: string
          format: email
        origin:
          type: string
        priority:
          type: string
          default: medium
        metadata:
          type: object

    OpportunityUpdate:
      type: object
      properties:
        customer_name:
          type: string
        customer_phone:
          type: string
        customer_email:
          type: string
        stage_id:
          type: string
          format: uuid
        priority:
          type: string
        metadata:
          type: object

    LeadInteraction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        opportunity_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [call, whatsapp, email, meeting, visit, note, audio, photo, status_change]
        description:
          type: string
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    LeadInteractionCreate:
      type: object
      required:
        - tenant_id
        - opportunity_id
        - type
      properties:
        tenant_id:
          type: string
          format: uuid
        opportunity_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
        description:
          type: string
        metadata:
          type: object

    Stage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        context_type_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        position:
          type: integer
        color:
          type: string
        is_active:
          type: boolean

    # RAG Management
    CopilotDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        document_type:
          type: string
          enum: [script, faq, objection_handler, product_info, process, training]
        title:
          type: string
        content:
          type: string
        metadata:
          type: object
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CopilotDocumentCreate:
      type: object
      required:
        - document_type
        - title
        - content
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        document_type:
          type: string
        title:
          type: string
        content:
          type: string
        metadata:
          type: object
        is_active:
          type: boolean
          default: true

    CopilotChunk:
      type: object
      properties:
        id:
          type: string
          format: uuid
        document_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        chunk_index:
          type: integer
        content:
          type: string
        embedding:
          type: string
          nullable: true
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    CopilotChunkCreate:
      type: object
      required:
        - document_id
        - chunk_index
        - content
      properties:
        document_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        chunk_index:
          type: integer
        content:
          type: string
          maxLength: 10000
        metadata:
          type: object

    # Tenants & Roles
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        type:
          type: string
          enum: [company, team, personal]
        is_active:
          type: boolean
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TenantCreate:
      type: object
      required:
        - name
        - slug
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: ^[a-z0-9-]+$
        type:
          type: string
          default: company
        is_active:
          type: boolean
          default: true
        metadata:
          type: object

    Role:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        is_system:
          type: boolean
        created_at:
          type: string
          format: date-time

    RoleCreate:
      type: object
      required:
        - tenant_id
        - name
        - slug
      properties:
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        is_system:
          type: boolean
          default: false

    Capability:
      type: object
      properties:
        id:
          type: string
          format: uuid
        module:
          type: string
          enum: [leads, copilot, workflows, tenants, users, reports, settings]
        capability_name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time

    UserTenant:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        role_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, inactive, pending]
        created_at:
          type: string
          format: date-time

    # Users & Profiles
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        full_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        document:
          type: string
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserIdentity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        provider:
          type: string
          enum: [auth0, google, facebook, linkedin]
        provider_user_id:
          type: string
        email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time

    SocialConnection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        platform:
          type: string
          enum: [instagram, facebook, linkedin, twitter]
        platform_user_id:
          type: string
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    UserScore:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        total_points:
          type: integer
        total_xp:
          type: integer
        level:
          type: integer
        rank_position:
          type: integer
        updated_at:
          type: string
          format: date-time

    # Workflows & Automation
    Workflow:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, draft]
        domain:
          type: string
          enum: [leads, go, workflows]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkflowCreate:
      type: object
      required:
        - name
      properties:
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          default: active
        domain:
          type: string
          default: leads

    WorkflowTrigger:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workflow_id:
          type: string
          format: uuid
        trigger_type:
          type: string
          enum: [event, schedule, manual]
        event_type:
          type: string
        conditions:
          type: object
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    WorkflowTriggerCreate:
      type: object
      required:
        - workflow_id
        - trigger_type
      properties:
        workflow_id:
          type: string
          format: uuid
        trigger_type:
          type: string
        event_type:
          type: string
        conditions:
          type: object
        is_active:
          type: boolean
          default: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workflow_id:
          type: string
          format: uuid
        event_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, running, completed, failed]
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        error:
          type: string
        context:
          type: object

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        domain:
          type: string
          enum: [leads, go, workflows]
        type:
          type: string
        payload:
          type: object
        source:
          type: string
        points:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time

    # Webhooks
    EmitEventRequest:
      type: object
      required:
        - p_user_id
        - p_tenant_id
        - p_type
        - p_domain
      properties:
        p_user_id:
          type: string
          format: uuid
        p_tenant_id:
          type: string
          format: uuid
        p_type:
          type: string
          enum:
            - lead.created
            - call.completed
            - email.sent
            - whatsapp.sent
            - visit.scheduled
            - visit.completed
            - meeting.completed
            - proposal.sent
            - quiz.completed
            - mission.completed
        p_domain:
          type: string
          enum: [leads, go, workflows]
        p_payload:
          type: object
        p_source:
          type: string
          default: application
        p_actor_user_id:
          type: string
          format: uuid
          nullable: true
        p_points:
          type: integer
          nullable: true

    MetaWebhookPayload:
      type: object
      properties:
        entry:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              time:
                type: integer
              changes:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    value:
                      type: object
                      properties:
                        leadgen_id:
                          type: string
                        ad_id:
                          type: string
                        form_id:
                          type: string

    ZapierLeadPayload:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        source:
          type: string
          default: zapier
        campaign:
          type: string
        product:
          type: string
        metadata:
          type: object

    # Common
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        details:
          type: string
          nullable: true
