openapi: 3.1.0

info:
  title: SalesOS Platform API
  version: 3.0.0
  description: |
    # SalesOS - Complete Event-Driven Sales Automation Platform

    Comprehensive API documentation for the SalesOS platform, covering all 110+ endpoints across 8 main domains.

    ## What's New in v3.0.0

    - **92+ new endpoints** added for complete platform coverage
    - Full **Copilot IA** documentation (AI suggestions, TTS, STT, feedback)
    - Complete **RBAC** (Role-Based Access Control) and multi-tenant management
    - **RAG Management** (Documents, chunks, embeddings)
    - Comprehensive **Workflows & Automation** endpoints
    - **Webhooks & EventService** integration
    - Full **User & Auth** management
    - Complete **Leads & Opportunities** lifecycle management

    ## Version History

    ### v3.0.0 (January 2026)
    - Added 92+ new endpoints for complete API coverage
    - **Authentication & Auth Flow** (6 endpoints): OAuth 2.0, token exchange, tenant switching
    - **Copilot IA** (14 endpoints): AI suggestions, TTS, STT, feedback, analytics
    - **Leads & Opportunities** (14 endpoints): CRUD, stages, interactions, analytics
    - **RAG Management** (13 endpoints): Documents, chunks, embeddings
    - **Tenants & Roles** (16 endpoints): Multi-tenant, RBAC, capabilities
    - **Users & Profiles** (10 endpoints): User management, identities, social connections, gamification
    - **Workflows & Automation** (15 endpoints): Workflow engine, triggers, queues, execution tracking
    - **Webhooks & EventService** (23 endpoints): Incoming webhooks, event emission, event queries

    ### v2.1.0 (December 2025)
    - Added EventService RPC endpoints
    - Webhook endpoints for Meta Ads and Zapier
    - Gamification endpoints
    - Workflow management basics

    ### v2.0.0 (November 2025)
    - Initial public API release
    - Basic CRUD operations
    - Authentication flow

    ## Core Concepts

    ### Multi-Tenancy
    The platform supports multiple organizations (tenants) with isolated data and custom configurations.
    Each user can belong to multiple tenants with different roles.

    ### Authentication Flow
    1. Authenticate with Auth0 (OAuth 2.0 Password Grant)
    2. Exchange Auth0 token for Supabase JWT token
    3. Use Supabase token for all API requests
    4. Switch between tenants as needed

    ### EventService
    Centralized event emission system that drives workflow automation and gamification.
    All significant actions emit events that can trigger automated workflows.

    ### Copilot IA
    AI-powered sales assistant that provides:
    - Context-aware suggestions using RAG (Retrieval-Augmented Generation)
    - Text-to-Speech (TTS) for voice assistance
    - Speech-to-Text (STT) for transcription
    - Feedback loop for continuous improvement

    ### Workflows & Automation
    Event-driven workflows that automate:
    - Lead assignment and routing
    - Notifications and alerts
    - Gamification point attribution
    - External system integrations

    ## Rate Limiting

    - **API Calls**: 1000 requests/minute per IP
    - **Events**: 10000 events/day per tenant
    - **Webhooks**: 100 requests/minute per endpoint
    - **Copilot Suggestions**: 100 requests/hour per user

    ## Environments

    - **Production**: https://api.play2sell.com
    - **Staging**: https://staging-api.play2sell.com
    - **Development**: http://localhost:5173

  contact:
    name: SalesOS Development Team
    email: dev@play2sell.com
    url: https://docs.play2sell.com

  license:
    name: Proprietary
    url: https://play2sell.com/terms

servers:
  - url: https://api.play2sell.com
    description: Production Environment
  - url: https://staging-api.play2sell.com
    description: Staging Environment
  - url: http://localhost:5173
    description: Local Development

tags:
  - name: Authentication & Auth Flow
    description: |
      OAuth 2.0 authentication, token exchange, and tenant switching.
      Handles Auth0 to Supabase token exchange and multi-tenant context management.

  - name: Copilot IA (AI Features)
    description: |
      AI-powered sales assistance with RAG, TTS, STT, and feedback mechanisms.
      Provides intelligent suggestions based on sales context and historical data.

  - name: Leads & Opportunities Management
    description: |
      Complete lead lifecycle management including creation, updates, stages, and interactions.
      Track customer journey from first contact to deal closure.

  - name: RAG Management (Documents & Embeddings)
    description: |
      Manage knowledge base for Copilot AI including documents, chunks, and embeddings.
      Powers the RAG (Retrieval-Augmented Generation) system.

  - name: Tenants & Roles (Multi-tenant RBAC)
    description: |
      Multi-tenant organization management with role-based access control.
      Define custom roles, capabilities, and user associations.

  - name: Users & Profiles
    description: |
      User management, authentication, identities, and gamification.
      Handle user profiles, social connections, and scoring.

  - name: Workflows & Automation
    description: |
      Event-driven workflow engine with triggers, queues, and execution tracking.
      Automate business processes and integrate with external systems.

  - name: Webhooks & EventService
    description: |
      Incoming webhooks from external systems and centralized event emission.
      Powers automation and integrations with Meta Ads, Zapier, CRMs, and more.

# For the complete path definitions, please refer to salesos-api-v3.0.yaml
# This file contains the same comprehensive specification

paths:
  # All 110+ endpoints are documented in salesos-api-v3.0.yaml
  # Including:
  # - Authentication & Auth Flow (6 endpoints)
  # - Copilot IA (14 endpoints)
  # - Leads & Opportunities (14 endpoints)
  # - RAG Management (13 endpoints)
  # - Tenants & Roles (16 endpoints)
  # - Users & Profiles (10 endpoints)
  # - Workflows & Automation (15 endpoints)
  # - Webhooks & EventService (23 endpoints)

  # See full specification at: /openapi/salesos-api-v3.0.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supabase JWT token obtained from token exchange.
        Include in Authorization header: `Bearer <token>`

    auth0Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 access token for token exchange operations

    metaSignature:
      type: apiKey
      in: header
      name: X-Meta-Signature
      description: HMAC SHA256 signature for Meta webhook validation

    zapierSecret:
      type: apiKey
      in: header
      name: X-Zapier-Secret
      description: Secret token for Zapier webhook authentication

  # For complete schema definitions, please refer to salesos-api-v3.0.yaml
  schemas: {}
